<div class="container">
	<div class="row">
    <div class="wrapper">
      <div class="logo_header">
          <h3 class="text-center"><strong> <%= @letter.subject.capitalize %></strong> </h3>
      </div><br/>
      <div class="email_body">
        <p>
          <%= @letter.body %>
        </p>
        <hr>
        <div class="text-center">
          <span class="">
            <i>With ❤ from <%= @letter.sender %></i>
          </span>
        </div>
      </div>
    </div>
	</div>
</div>
