<div class="container">
	<div class="row">
    <div class="wrapper">
      <div class="logo_header">
          <h3 class="text-center"><strong> <%= @letter.subject.capitalize %></strong> </h3>
      </div><br/>
      <div class="email_body">
        <p>
            SeeDocOnline makes seeing a doctor simple. Our interactive healthcare services allow
            patients to speak to a doctor whenever and wherever they want. We have a team verified
            doctors from around the globe, making it possible speaking in your native language.
            <%= @letter.body %>
        </p>
        <hr>
        <div class="text-center">
          <span class="">
            <span class="badge quote-badge">896</span>  ❤
            <i>With love from <%= @letter.sender %></i>
          </span>
        </div>
      </div>
    </div>
	</div>
</div>
