body {
  // background: url(http://lorempixel.com/1920/1920/city/9/) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:500px;
	position:relative;
	background:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/170VMZp/elegant-waving-canvas-white-gray-background-loop_417hpne4x__F0000.png) no-repeat center;
	background-size: cover;
	// box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	// background:rgba(0,0,0,0.5);
}
